.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  font-size: 2.4rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.game-grid {
  display: flex;
  flex-direction: column;
}

.game-section {
  display: flex;
}

.active-players {
  display: flex;
  gap: 2.8rem;
  padding: 1.2rem;
  font-size: 1.4rem;
}

.verdict {
  font-size: 1.4rem;
}

.result {
  padding: 2rem;
}

.new-game {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  border: solid 1px black;
  border-radius: 9px;
  padding: 1rem;
  width: 12rem;
}

.player-one,
.player-two {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  width: 8rem;
  border-radius: 9px;
  border: solid 1px black;
}

.square {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.game-section .square:last-child {
  border-right: 1px solid black;
}

.game-grid .game-section:last-child .square {
  border-bottom: 1px solid black;
}
